

h1{ 
font-size: 100%;
}


.mainRemoteBox {


}


.playControlsBox , .otherControlsBox, .connectionControlsBox{
    display: flex;
    flex-direction: row;
    justify-content:  center ;
}

.tracksBox{
    display: flex;
    flex-direction: row;
    justify-content:  space-around ;
}

.trackBox h4{
    margin : 2% 0%;
}


.volumeControlsBox{

    display: flex;
    justify-content: center;
}

.connectionControlsBox{
    display: flex;
    justify-content: center;
}
.topControlsBox { 

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    border : 2px solid #222;
    border-radius : 150px;
    width: 150px;
    background: #222;
}

.volumeControlsBox , .pointControlsBox{  

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 180px;
    padding: 5% 10px;
    border: 2px solid #222;
    background: #222;
    border-radius: 150px;

}

.otherControlsBox{  
    width: 200px;
    margin: 0 auto;
margin-top: 80px;
justify-content: space-around;


}


.volumeControlsBox{
    position: absolute;
    left: 50px;

}
.pointControlsBox { 
    position: absolute;
    right: 50px;

}

.playbackSpeedRange{

    
}

.container {
  display: flex;
  width: 200px;
  margin: auto;
  text-align: center;
}

.slider {
  width: 100%;
  margin: 10px auto;
}

input[type="range"] {
  -webkit-appearance: none !important;
  width: 100%;
  height: 10px;
  background-color: #222;

  border-radius: 10px;
  margin: auto;
  transition: all 0.3s ease;
}
input[type="range"]:hover {
  background-color: #222;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20px;
  height: 20px;
  background-color: #e50914;
  border-radius: 30px;
  box-shadow: 0px 0px 3px #a0050d;
  transition: all 0.5s ease;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #a0050d;
}
input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: 0px 0px 1px #a0050d;
}

.outputRange{ 
  color : #fff;
  display: block;
  margin-top: 20px;
}