#audioplayer{
	width: 70%;
	height: 60px;
	margin: 50px auto auto auto;
  border: solid;

}
#audioplayer span{
	float: right;
    padding: 0;
}

#pButton{
    height:60px; 
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

#timeline{
	display: inline-block;
	width: 60%;
	height: 10px;

	border-radius: 15px;
	background: #222;
	border : 0;
	padding: 0;
	margin: 0 auto;
  
}
#playhead{
	padding : 0;
	width: 15px;
	height: 15px;
	display: block;
	border-radius: 50%;
	background-color: #e50914;
	position: relative;
	bottom: 2px;
	cursor: pointer;
	
}
