.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.helpBox{
  margin: 0;
  padding: 0;  
}

.helpBoxClosed{
 
}

#helpBoxMain{
  padding: 50% 0%;
  margin: 0 auto;
  background-color: #000;
}

.showHelpImage{
  width: 90%;
  margin: 20px auto;
}

.dontShowHelpImage{ 
  height: 0;
  width: 0;
}

.remoteGuideBox{  
  z-index: 2;
  position : relative;
  margin-top: 20px;
}

.remoteGuideBox span{
  border-radius: 100%;
  border: 2px solid #fff;
  display: block;
    width: 20px;
    margin: 0 auto;
}

.removeBorder{ 
  border : 0px !important;
  width: 50px !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.recentOTPBox h3{
  color: #fff;
}
.recentOTPButton {
  margin: 5px auto;
  width: 18%;
  padding: 4px; 
  color : #fff;
  background :  #e50914;
  font-size: 90%;
  font-weight: 600;
}
.recentOTPButton:hover{
  background: #8a0e14;
}

.helpBox{
  position: absolute;
  top: 0;
  right: 0

}