
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

div{

    text-align: center;
    /*padding : 5% 2% 2% 2%;*/
}

div h1.appHeading{
    font-size: 40px;
    text-transform: uppercase;
    font-family : 'Raleway';
    font-weight: 900;
}

form{
    width: 60%;
    margin: 0 auto;
}

input{
    display: block;
    margin: 10% auto;
}

label{
    color : var(--color-off-white);
}


input[type="text"]{
    border : none;
    border-bottom : 2px solid var(--color-netflix-red);
    background : none;
    width: 60%;
    color : var(--color-off-white);
    outline:none;
    -webkit-appearance: none;

}




input[type="text"]:focus{
    background : #353B45;
    border : none;
    border-bottom : 2px solid var(--color-netflix-red);

}



input[type="submit"]{
    padding: 5%;
    border : none;
    width: 60%;
    color :var(--color-off-white);
    text-transform: uppercase;
    font-weight: 900;
    background : var(--color-netflix-red);
    outline:none;
    -webkit-appearance: none;

}


input[type="submit"]:focus{
    background :  #8c0c13;
}




h1{
    font-family : 'Poppins';
    color : var(--color-netflix-red);}

@font-face {
    font-family: 'MyFont';
  }

  p{
      color : var(--color-netflix-red);
  }

  .forceLoginButton {
    color: var(--color-off-white);
  }